.profile-container {
    position: relative;
    width: 50%;
}
.style-h1-about-us {
    padding: 20px 0 0 80px;
}
.about-us-image {
    display: block;
    width: 100%;
    height: auto;
}
.about-us-text {
    color: black;
    font-size: 20px;
    padding-left: 60px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
}