.card-post-inicio {
    background-color: #ffffff;
    height: auto;
    border-radius: 5px;
}

.card-post-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    
}

.text-post-height {
    min-height: 100px;
}

.text-post-height p {
    height: auto;
    margin: 0;
}