p, h5 {
    margin:0
}

.diseaselist-box-style {
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #d1d1d1;
}

.disease-list-button {
    background-color:#137DC5;
    border: 1px solid #137DC5;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 25px 0px 0px 15px;
    transition-duration: 0.4s;
    padding: 10px 45px;
}

.disease-list-button:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}

.disease-list-text {
    height: 100px;
}

.disease-list-title {
    height: 48px;
}

.list-title-bold h5{
    font-weight: bold;
}