.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 102%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    font-family: 'Yusei Magic', sans-serif;
}
