#style-container {
    margin: 0 30px;
}
.home-container {
    position: relative;
    width: 50%;
}
.home-image {
    display: block;
    width: 80%;
    height: auto;
    border-radius: 3%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f79a6b;
}
.home-container:hover .overlay {
    opacity: 1;
}
.home-text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
