.style-row-logo-buttons {
    margin: 0 20% 5% 20%;
}
@media screen and (max-width: 990px) {
  div.style-row-logo-buttons {
     margin: 0 20% 5% 0;
  }
}
.style-row-pictures-home {
    margin: 5% 20%;
}
.home-container {
    position: relative;
    width: 50%;
}
.style-logo-home {
    width: 80%;
    margin-bottom: 2%;
}
.style-text {
    width: 80%;
    font-size: 17px;
}
.bold {
    font-weight: bold;
}
.style-home-col-buttons {
    margin: 10px 0 0 0 ;
}
@media screen and (max-width: 990px) {
  div.style-home-col-buttons {
    margin: 10px 0 0 32%;
  }
}
.style-h3-home {
    margin: 5% 0 0 21%;
}
.home-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f79a6b;
    border-radius: 3%;
}
.home-container:hover .overlay {
    opacity: 1;
}

@media screen and (max-width: 990px) {
  div.home-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 990px) {
  p.style-text {
    font-size: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  img.style-logo-home {
    width: 130%;
  }
}
.home-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
    margin-right: 10px;
    
}
.unsplash {
    font-size: 10px;
    position: absolute;
    margin-top: 15px;
}
h4 {
    color: black;
}
.register-button-style-home {
    background-color:  white;
    border: 1px solid #070707;
    color: #070707;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 20px 2px 0px 80px;
    margin: 3%;
    transition-duration: 0.4s;
    
}
.register-button-style-home:hover {
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.login-button-style {
    background-color:#070707;
    border: 1px solid #070707;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 20px 2px 0px 80px;
    margin: 3%;
    transition-duration: 0.4s;
    padding: 10px 45px;
}
.login-button-style:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}