

p {
    margin: 0;
}
// .icono-user-style {
//     font-size: 40px;
// }
.p-edit-profile-font {
    font-size: 12px;
}
.pencil-inicio-clickable {
    cursor: pointer;
}

.inicio-position-pencil {
    position: relative;
    top: -150px;
}

.box-user-inicio {
    // background-color: #efefef;
    height: 215px;
    border-radius: 5px;
}

.box-user-image img {
    // width: 100%;
    // max-height: 208px;
    // clip-path: circle(104px at center);
    // border-radius: 75px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 75px;
    box-shadow: 0px 0px 15px rgb(141, 141, 141);
}

.box-user-username {
    position: relative;
    top: -12px
}

.list-user-inicio {
    padding: 0;
}

.table-user-inicio {
    width: 100%;
}

.box-post-inicio {
    background-color: #c8c8c8;
    height: auto;
    border-radius: 5px;
}

.box-content-inicio {
    
    height: auto;
    border-radius: 5px;
}
.box-empty-feed {
    background-color: white;
    border-radius: 5px;
}

.box-empty-feed p {
    margin: 0px;
}

.inicio-divisor-line{
    border-top: 1px solid black
}

.inicio-tag-follow {
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #d1d1d1;
}

.inicio-button-publicar {
    background-color:#137DC5;
    border: 1px solid #137DC5;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 25px 0px 0px 15px;
    transition-duration: 0.4s;
    padding: 10px 45px;
}

.inicio-button-publicar:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}

.inicio-button-activated {
    background-color:#137DC5;
    border: 1px solid #137DC5;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 25px 0px 0px 15px;
    transition-duration: 0.4s;
    padding: 10px 32px;
}

.inicio-button-activated:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}

.inicio-button-disabled {
    background-color:  white;
    // border: 1px solid #070707;
    // color: #070707;
    border: 1px solid #137DC5;
    color: #137DC5;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 20px 2px 0px 80px;
    // margin: 3%;
    transition-duration: 0.4s;
    
}
.inicio-button-disabled:hover {
    color: #137DC5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.inicio-input-style {
    background-color: #efefef;
    border: none;
    box-shadow: 0px 0px 10px #d1d1d1;
}

.inicio-textarea-style::placeholder {
    color: black;
}
.modal-inicio-style {
    font-family: 'Yusei Magic';
    margin: 10px;
}
.modal-actualizar-button-style {
    background-color:  white;
    border: 1px solid #070707;
    color: #070707;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 20px 2px 0px 80px;
    margin: 3%;
    transition-duration: 0.4s;
}
.modal-actualizar-button-style:hover {
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.inicio-button-image {
    background-color:  white;
    border: 1px solid #137DC5;
    color: #137DC5;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 20px 2px 0px 80px;
    // margin: 3%;
    transition-duration: 0.4s;
}


.inicio-button-image:hover {
    color: #137DC5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.inicio-username-bold h5{
    font-weight: bold;
}