.box-user-inicio {
    background-color: #c8c8c8;
    height: 197px;
    border-radius: 5px;
}

.box-user-image img {
    width: 125px;
    border-radius: 75px;
}

.list-user-inicio {
    background-color: #ffffff;
    border-radius: 5px;
}

.table-user-inicio {
    width: 100%;
}

.box-post-inicio {
    background-color: #c8c8c8;
    height: auto;
    border-radius: 5px;
}

.box-content-inicio {
    
    height: auto;
    border-radius: 5px;
}
.box-empty-feed {
    background-color: white;
    border-radius: 5px;
}

.box-empty-feed p {
    margin: 0px;
}

.button-publicar-post {
    background-color:#070707;
    border: 1px solid #070707;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    padding: 10px 45px;
}

.button-select-inicio {
    background-color:#070707;
    border: 1px solid #070707;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    padding: 10px 45px;
}

.button-noselect-inicio {
    background-color:  white;
    border: 1px solid #070707;
    color: #070707;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.inicio-divisor-line{
    border-top: 1px solid black
}