.box-user-inicio {
    background-color: lightpink;
    height: auto;
    border-radius: 5px;
}

.box-user-image img {
    width: 125px;
    border-radius: 75px;
}

.box-post-inicio {
    background-color: lightskyblue;
    height: auto;
    border-radius: 5px;
}

.box-content-inicio {
    background-color: rgb(206, 206, 206);
    height: auto;
    border-radius: 5px;
}

.card-post-inicio {
    background-color: blue;
    height: auto;
    border-radius: 5px;
}

.card-post-image img {
    width: 150px;
}