.style-login-card {
    background-image: url(../img/soft-bg.png);
    width: 500px;
    margin: 80px auto 80px;
    height: 500px;
    opacity: 100%;
}
.style-login-h1 {
    font-family: 'Yusei Magic', sans-serif;
    margin: 15px auto 5px auto;
    text-shadow: 0px -1px 15px #137dc5;
    color: white;
}
.style-login-form {
    margin: auto;
    width: 70%;
}
.style-login-form-group {
    margin: 10px;
}
.style-login-input {
    width: 90%;
    padding: 12px 20px;
    // margin: px 0px 0px 0px;
    box-sizing: border-box;
}  
.style-login-label {
    margin: 15px 0px;
    font-weight: bold;
    color: white;
    text-shadow: 0px -1px 15px #137dc5;
}
::placeholder {
    font-size: 15px;
}
.style-login-button {
    background-color:#070707;
    border: 1px solid #070707;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0px 0px 15px;
    transition-duration: 0.4s;
    padding: 10px 45px;
}
.style-login-button:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}

