.style-logo-navbar {
    max-width: 200px;
    height: auto;
}
nav {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
}
// .style-ul-navbar{
//     padding: 0 20% 0 80%;
// }
.color-username {
    color: #FD830A
}
.register-button-style-navbar {
    background-color:  white;
    border: 1px solid #070707;
    color: #070707;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 20px 2px 0px 80px;
    margin: 3%;
    transition-duration: 0.4s;
    
}
.register-button-style-navbar:hover {
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.login-button-style {
    background-color:#070707;
    border: 1px solid #070707;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 20px 2px 0px 80px;
    margin: 3%;
    transition-duration: 0.4s;
    padding: 10px 45px;
}
.login-button-style:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}