.style-logo-navbar {
    max-width: 200px;
    height: auto;
}
nav {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
}
// .style-ul-navbar{
//     padding: 0 20% 0 80%;
// }
.color-username {
    color: #FD830A
}