.post-img img{
    width: 100%;
    border-radius: 3px;
}

.filter-img-text {
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    border-radius: 3px;
    // background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
}

.text-up-image {
    color: white;
    width: 100%;
    position: absolute;
    top: 20px;
    // text-shadow: 1px 1px black;
}
.temp-post-user-image-round img {
    // width: 100%;
    // height: 200px;
    // clip-path: circle(40px at center);
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}
// .text-up-image img {
//     // width: 100%;
//     height: 200px;
//     clip-path: circle(40px at center);
// }

.form-size-post {
    width: 100%;
    margin: 0;
}

.post-cursor-click {
    cursor: pointer;
}

.post-divisor-line{
    border-top: 1px solid black
}

.post-textarea-style {
    background-color: #efefef;
    border: none;
    box-shadow: 0px 0px 10px #d1d1d1;
}

.post-textarea-style::placeholder {
    color: black;
}

.post-button-comment {
    background-color:#137DC5;
    border: 1px solid #137DC5;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    // margin: 25px 0px 0px 15px;
    transition-duration: 0.4s;
    padding: 10px 45px;
}

.post-button-comment:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}

