* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#style-container {
    margin: 0 30px;
}

// #layout-boxes {
//     display: flex;
    
// }

.box-size {
    height: auto;
    
}

#box-left {
    // background-color: lightblue;
    width: 27.5%;
    height: auto

}

#box-center {
    // background-color: lightsalmon;
    width: 45%;
    height: auto;
}

#box-right {
    // background-color: lightslategrey;
    width: 27.5%;
    height: auto;
}

#form-style {
    width: 90%;
}

.form-container {
    
    width: 100%;
    height: auto;
    padding: 0 20px;
    
}

.orange-button {
    background-color: #FD830A;
}

.orange-button:hover {
    background-color: rgb(224, 114, 3);
}

.text-color {
    color: #FD830A
}