* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#style-container {
    margin: 0 30px;
}

#layout-boxes {
    display: flex;
    
}

.box-size {
    height: auto;
    
}

#box-left {
    background-color: lightblue;
    width: 27.5%;
    height: 800px;
}

#box-center {
    background-color: lightsalmon;
    width: 45%;
}

#box-right {
    background-color: lightslategrey;
    width: 27.5%;
}

#form-style {
    width: 90%;
}

.form-container {
    background-color: red;
    width: 100%;
    height: auto;
    padding: 0 20px;
    
}